<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>AppKit Mobile</title>
<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
<link rel="stylesheet" type="text/css" href="styles/style.css">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="fonts/css/fontawesome-all.min.css">    
<link rel="manifest" href="_manifest.json" data-pwa-version="set_in_manifest_and_pwa_js">
<link rel="apple-touch-icon" sizes="180x180" href="app/icons/icon-192x192.png">
</head>
    
<body class="theme-light">
    
<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>
    
<div id="page">
    
    <div class="header header-fixed header-logo-center header-auto-show">
        <a href="index.html" class="header-title">Search</a>
        <a href="#" data-back-button class="header-icon header-icon-1"><i class="fas fa-chevron-left"></i></a>
        <a href="#" data-menu="menu-main" class="header-icon header-icon-4"><i class="fas fa-bars"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-dark"><i class="fas fa-sun"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-light"><i class="fas fa-moon"></i></a>
    </div>

    <div id="footer-bar" class="footer-bar-6">
        <a href="index-components.html" class="active-nav"><i class="fa fa-layer-group"></i><span>Features</span></a>
        <a href="index-pages.html"><i class="fa fa-file"></i><span>Pages</span></a>
        <a href="index.html" class="circle-nav"><i class="fa fa-home"></i><span>Welcome</span></a>
        <a href="index-projects.html"><i class="fa fa-camera"></i><span>Projects</span></a>
        <a href="#" data-menu="menu-main"><i class="fa fa-bars"></i><span>Menu</span></a>
    </div>
    
    <div class="page-title page-title-fixed">
        <h1>Search</h1>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme" data-menu="menu-share"><i class="fa fa-share-alt"></i></a>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-light" data-toggle-theme><i class="fa fa-moon"></i></a>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-dark" data-toggle-theme><i class="fa fa-lightbulb color-yellow-dark"></i></a>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme" data-menu="menu-main"><i class="fa fa-bars"></i></a>
    </div>
    <div class="page-title-clear"></div>
        
    <div class="page-content">
                        

        <div class="content mt-0 mb-0">
            <div class="search-box search-dark shadow-xl border-0 bg-theme rounded-sm bottom-0">
                <i class="fa fa-search"></i>
                <input type="text" class="border-0" placeholder="Search here.. - try the word demo " data-search>
            </div>   
            <div class="search-results disabled-search-list">
                <div class="list-group list-custom-large">
                    <a href="#" data-filter-item data-filter-name="all demo smartphone apple iphone ios">
                        <i class="fab fa-apple color-gray-dark"></i>
                        <span>Apple</span>
                        <strong>Works on iOS 10 and Higher</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <a href="#" data-filter-item data-filter-name="all demo smartphone samsung android htc oneplus">
                        <i class="fab fa-android color-green-dark"></i>
                        <span>Android</span>
                        <strong>Works on Android 5.1.1 and Higher</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <a href="#" data-filter-item data-filter-name="all demo code css3 css">
                        <i class="fab fa-css3 color-blue-dark font-17"></i>
                        <span>CSS3 </span>
                        <strong>Beautiful Design. Simple Code.</strong>
                        <i class="fa fa-angle-right"></i>
                    </a> 

                    <a href="#" data-filter-item data-filter-name="fox all demo code html5 html">
                        <i class="fab fa-html5 color-orange-dark"></i>
                        <span>HTML5 </span>
                        <strong>Powerful and Universally Compatible</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>   
                    <a href="#" data-filter-item data-filter-name="all demo support help">
                        <i class="fa fa-life-ring color-red-dark font-17"></i>
                        <span>Support </span>
                        <strong>Elite Quality, 24/7 Support for Buyers</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>   
                    <a href="#" data-filter-item data-filter-name="all demo code js jquery java javascript">
                        <i class="fab fa-js color-yellow-dark font-17"></i>
                        <span>JavaScript </span>
                        <strong>Clean Code, Easy to Use and Modify</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>      
                    <a href="#" data-filter-item data-filter-name="all demo support elite help documentation">
                        <i class="fa fa-file color-gray-dark font-17"></i>
                        <span>Documentation </span>
                        <strong>Every Feature and Aspect Covered.</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>     
                </div>
            </div>
            <div class="search-no-results disabled mt-4">
                <div class="card card-style mx-0">
                    <div class="content">
                        <p class="mb-n1 font-600 color-highlight">Sorry, there are</p>
                        <h1>No Results</h1>
                        <p>
                            Your search brought up no results. Try using a different keyword. Or try typying all 
                            to see all items in the demo. These can be linked to anything you want.
                        </p>
                    </div>
                </div>
            </div>
        </div>	

        <div class="card card-style mt-4">
            <div class="content">
                <h4>Search for Anything</h4>
                <p>
                    Our search is based on HTML5 data attributes, making it fully flexible and easy to use.
                    you can load any type of data you want in the HTML or apply back-end logic to call
                    elements. The search list can have any design and you can even add colors to the search boxes.
                </p>
            </div>
        </div>

        <div class="content mb-5 mt-5">
            <div class="search-box search-color bg-red-dark rounded-s mb-3">
                <i class="fa fa-search"></i>
                <input type="text" class="border-0" placeholder="Search here... ">
            </div>   
            <div class="search-box search-color bg-green-dark rounded-m mb-3">
                <i class="fa fa-search"></i>
                <input type="text" class="border-0" placeholder="Search here... ">
            </div>   
            <div class="search-box search-color bg-blue-dark rounded-xl mb-3">
                <i class="fa fa-search"></i>
                <input type="text" class="border-0" placeholder="Search here...">
            </div>   
        </div>

        <div data-menu-load="menu-footer.html"></div>
    </div>
    <!-- Page content ends here-->
    
    <!-- Main Menu--> 
    <div id="menu-main" class="menu menu-box-left rounded-0" data-menu-load="menu-main.html" data-menu-width="280" data-menu-active="nav-components"></div>
    
    <!-- Share Menu-->
    <div id="menu-share" class="menu menu-box-bottom rounded-m" data-menu-load="menu-share.html" data-menu-height="370"></div>  
    
    <!-- Colors Menu-->
    <div id="menu-colors" class="menu menu-box-bottom rounded-m" data-menu-load="menu-colors.html" data-menu-height="480"></div> 
     
    
</div>

<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
</body>
