<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>AppKit Mobile</title>
<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
<link rel="stylesheet" type="text/css" href="styles/style.css">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="fonts/css/fontawesome-all.min.css">    
<link rel="manifest" href="_manifest.json" data-pwa-version="set_in_manifest_and_pwa_js">
<link rel="apple-touch-icon" sizes="180x180" href="app/icons/icon-192x192.png">
</head>
    
<body class="theme-light">
    
<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>
    
<div id="page">
    
    <div class="header header-fixed header-logo-center header-auto-show">
        <a href="index.html" class="header-title">List Groups</a>
        <a href="#" data-back-button class="header-icon header-icon-1"><i class="fas fa-chevron-left"></i></a>
        <a href="#" data-menu="menu-main" class="header-icon header-icon-4"><i class="fas fa-bars"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-dark"><i class="fas fa-sun"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-light"><i class="fas fa-moon"></i></a>
    </div>

    <div id="footer-bar" class="footer-bar-6">
        <a href="index-components.html" class="active-nav"><i class="fa fa-layer-group"></i><span>Features</span></a>
        <a href="index-pages.html"><i class="fa fa-file"></i><span>Pages</span></a>
        <a href="index.html" class="circle-nav"><i class="fa fa-home"></i><span>Welcome</span></a>
        <a href="index-projects.html"><i class="fa fa-camera"></i><span>Projects</span></a>
        <a href="#" data-menu="menu-main"><i class="fa fa-bars"></i><span>Menu</span></a>
    </div>
    
    <div class="page-title page-title-fixed">
        <h1>List Groups</h1>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme" data-menu="menu-share"><i class="fa fa-share-alt"></i></a>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-light" data-toggle-theme><i class="fa fa-moon"></i></a>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-dark" data-toggle-theme><i class="fa fa-lightbulb color-yellow-dark"></i></a>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme" data-menu="menu-main"><i class="fa fa-bars"></i></a>
    </div>
    <div class="page-title-clear"></div>
        
    <div class="page-content">
                
        <div class="card card-style">
            <div class="content mb-2">
                <h4>Small List Group</h4>
                <p>
                    A list that contains 2 icons, and a text. ideal for a small patch of text and icons.
                    These support background colors, classic simple lists styles, or can support badges and even switches!
                </p>

                <div class="list-group list-custom-small">
                    <a href="#">
                        <i class="fa font-14 fa-cog rounded-xl shadow-xl color-brown-dark"></i>
                        <span>Ultra Mobile</span>
                        <i class="fa fa-angle-right"></i>
                    </a>     
                    <a href="#">
                        <i class="fa font-14 fa-bars rounded-xl shadow-xl bg-blue-dark color-white"></i>
                        <span>Azures Mobile</span>
                        <span class="badge bg-red-dark color-white font-10">$25</span>
                        <i class="fa fa-angle-right"></i>
                    </a>        
                    <a href="#">
                        <i class="fa font-14 fa-check rounded-sm shadow-m bg-green-dark color-white"></i>
                        <span>Sticky Mobile</span>
                        <span class="badge bg-green-dark color-white">FRESH</span>
                        <i class="fa fa-angle-right"></i>
                    </a>        
                    <a data-trigger-switch="switch-22" class="border-0" href="#">
                        <i class="fa font-14 fa-star shadow-s bg-yellow-dark color-white"></i>
                        <span>Kolor Mobile</span>
                        <div class="custom-control scale-switch ios-switch">
                            <input type="checkbox" class="ios-input" id="switch-22">
                            <label class="custom-control-label" for="switch-1"></label>
                        </div>
                        <i class="fa fa-angle-right"></i>
                    </a>             
                </div>
            </div>  
        </div>     
        
        
        <div class="card card-style">
            <div class="content mb-2">
                <h4>Large List Group</h4>
                <p>
                    A list that contains 2 icons, and a text. ideal for a small patch of text and icons.
                    These support background colors, classic simple lists styles, or can support badges and even switches!
                </p>

                <div class="list-group list-custom-large">
                    <a href="#">
                        <i class="fa font-18 fa-shopping-bag color-brown-dark"></i>
                        <span>Appeca Mobile</span>
                        <strong>A powerful Mobile Template</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>     
                    <a href="#">
                        <i class="fa font-14 fa-brush rounded-xl shadow-xl bg-blue-dark color-white"></i>
                        <span>Bars Mobile</span>
                        <strong>Perfectly Balanced</strong>
                        <span class="badge bg-red-dark font-11 color-white">1</span>
                        <i class="fa fa-angle-right"></i>
                    </a>        
                    <a href="#">
                        <i class="fa font-14 fa-tint rounded-sm shadow-m bg-green-dark color-white"></i>
                        <span>Asterial Mobile</span>
                        <span class="badge bg-blue-dark color-white">FRESH</span>
                        <strong>The iOS Monster Template</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>        
                    <a data-trigger-switch="switch-1" class="border-0" href="#">
                        <i class="fa font-14 fa-mobile-alt shadow-s bg-yellow-dark color-white"></i>
                        <span>Apptastic Mobile</span>
                        <strong>iOS Designed Style</strong>
                        <div class="custom-control scale-switch ios-switch">
                            <input type="checkbox" class="ios-input" id="switch-1" checked>
                            <label class="custom-control-label" for="switch-1"></label>
                        </div>
                        <i class="fa fa-angle-right"></i>
                    </a>             
                </div>
            </div>  
        </div>
        
        <div class="card card-style">
            <div class="content mb-2">
                <h4>Menu List Group</h4>
                <p>
                    This is the list that we're using to create the awesome sidebar menu. This supports a tone of awesome features!
                </p>

                <div class="list-group list-custom-small list-menu ms-0 me-2">
                    <a href="#" class="menu-active">
                        <i class="fa fa-home gradient-blue color-white"></i>
                        <span>Homepage</span>
                        <span class="badge gradient-blue color-white">1</span>
                        <i class="fa fa-angle-right"></i>
                    </a>     
                    <a href="#">
                        <i class="fa fa-cog gradient-magenta color-white"></i>
                        <span>Components</span>
                        <i class="fa fa-angle-right"></i>
                    </a>        
                    <a href="#">
                        <i class="fa fa-heart gradient-red color-white"></i>
                        <span>Site Pages</span>
                        <span class="badge gradient-red color-white">HOT</span>
                        <i class="fa fa-angle-right"></i>
                    </a>     
                    <a href="#">
                        <i class="fa fa-star gradient-yellow color-white"></i>
                        <span>Starters</span>
                        <i class="fa fa-angle-right"></i>
                    </a>        
                    <a href="#">
                        <i class="fa fa-envelope gradient-green color-white"></i>
                        <span>Contact</span>
                        <i class="fa fa-angle-right"></i>
                    </a>        
                    <a href="#" data-trigger-switch="switch-1a">
                        <i class="fa fa-bell gradient-teal color-white"></i>
                        <span>Notifications</span>
                        <div class="custom-control scale-switch ios-switch small-switch">
                            <input type="checkbox" class="ios-input" id="switch-1a" checked>
                            <label class="custom-control-label" for="switch-1a"></label>
                        </div>
                    </a>        
                </div>
            </div>  
        </div>        
        
        <div class="card card-style">
            <div class="content mb-2">
                <h4>User List Group</h4>
                <p>
                    Awesome to show small user lists that we also use in the sidebar.
                </p>
                <div class="list-group list-custom-small list-menu ms-0 me-1">
                    <a href="#">
                        <img src="images/pictures/1s.jpg">
                        <span>John Droid</span>
                        <i class="fa fa-angle-right"></i>
                    </a>     
                    <a href="#">
                        <img src="images/pictures/5s.jpg">
                        <span>Jane Seed</span>
                        <i class="fa fa-angle-right"></i>
                    </a>     
                    <a href="#">
                        <img src="images/pictures/6s.jpg">
                        <span>Jane Louder</span>
                        <i class="fa fa-angle-right"></i>
                    </a>     
                </div>
                
                <div class="divider mt-3"></div>
                
                <a href="component-user-list.html" class="btn btn-full btn-m font-600 font-13 mt-4 rounded-s mb-2 gradient-blue">View User Lists</a>
                
            </div>  
        </div>
 


        <div class="card card-style">
            <div class="content mb-2">
                <h4>Boxed List Group</h4>
                <p>
                    Link boxes allow you to use an 2 icons and text as well to help provide more info.
                </p>

                <div class="list-group list-boxes">
                    <a href="#" class="border border-green-dark rounded-s shadow-xs">
                        <i class="fa font-20 fa-mobile color-blue-dark"></i>
                        <span>Ultra Mobile</span>
                        <strong>Flexible, Fast and Very Powerful</strong>
                        <u class="color-green-dark">ONLINE</u>
                        <i class="fa fa-check-circle color-green-dark"></i>
                    </a>        
                    <a href="#" class="border border-red-dark rounded-s shadow-s">
                        <i class="fa font-14 fa-heart color-red-dark"></i>
                        <span>Kolor Mobile</span>
                        <strong>Colorful, easy to use and beautiful</strong>
                        <u class="color-red-light">ERROR</u>
                        <i class="fa fa-times-circle color-red-light"></i>
                    </a>        
                </div>
            </div>  
        </div>

        <div data-menu-load="menu-footer.html"></div>
    </div>
    <!-- Page content ends here-->
    
    <!-- Main Menu--> 
    <div id="menu-main" class="menu menu-box-left rounded-0" data-menu-load="menu-main.html" data-menu-width="280" data-menu-active="nav-components"></div>
    
    <!-- Share Menu-->
    <div id="menu-share" class="menu menu-box-bottom rounded-m" data-menu-load="menu-share.html" data-menu-height="370"></div>  
    
    <!-- Colors Menu-->
    <div id="menu-colors" class="menu menu-box-bottom rounded-m" data-menu-load="menu-colors.html" data-menu-height="480"></div> 
     
    
</div>

<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
</body>
