<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>AppKit Mobile</title>
<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
<link rel="stylesheet" type="text/css" href="styles/style.css">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="fonts/css/fontawesome-all.min.css">    
<link rel="manifest" href="_manifest.json" data-pwa-version="set_in_manifest_and_pwa_js">
<link rel="apple-touch-icon" sizes="180x180" href="app/icons/icon-192x192.png">
</head>
    
<body class="theme-light">
    
<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>
    
<div id="page">
    
    <div class="header header-auto-show header-fixed header-logo-center">
        <a href="index.html" class="header-title">AppKit</a>
        <a href="#" data-menu="menu-main" class="header-icon header-icon-1"><i class="fas fa-bars"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-4 show-on-theme-dark"><i class="fas fa-sun"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-4 show-on-theme-light"><i class="fas fa-moon"></i></a>
        <a href="#" data-menu="menu-share" class="header-icon header-icon-3"><i class="fas fa-share-alt"></i></a>
    </div>

    <div id="footer-bar" class="footer-bar-6">
        <a href="index-components.html"><i class="fa fa-layer-group"></i><span>Features</span></a>
        <a href="index-pages.html"><i class="fa fa-file"></i><span>Pages</span></a>
        <a href="index.html" class="circle-nav"><i class="fa fa-home"></i><span>Welcome</span></a>
        <a href="index-projects.html" class="active-nav"><i class="fa fa-camera"></i><span>Projects</span></a>
        <a href="#" data-menu="menu-main"><i class="fa fa-bars"></i><span>Menu</span></a>
    </div>
        
    
    <div class="page-title page-title-fixed">
        <h1>Projects</h1>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme" data-menu="menu-share"><i class="fa fa-share-alt"></i></a>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-light" data-toggle-theme><i class="fa fa-moon"></i></a>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-dark" data-toggle-theme><i class="fa fa-lightbulb color-yellow-dark"></i></a>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme" data-menu="menu-main"><i class="fa fa-bars"></i></a>
    </div>
    <div class="page-title-clear"></div>
    
    <div class="page-content">
                        
        <div class="card card-style">
            <div class="card mb-0 bg-17" data-card-height="150"></div>
            <div class="content mt-3">
                
                <p class="color-highlight font-500 mb-n1">Showcase your Work</p>
                <h1>Appkit Media</h1>
                                
                <p>
                    Portfolios and Galleries created with a new, gorgeous set of elements that will create a fantastic user experience
                </p>
                <p class="font-11 opacity-70 font-italic line-height-s"><strong class="color-highlight">Note</strong>. When selecting a page, and coming back, it will be marked with a <i class="fa fa-check-circle color-green-dark ps-1 pe-1"></i> icon to make it easier for you to keep track.</p>
            </div>
        </div>
        
                
        <div class="card card-style">
            <div class="content mb-0">
                <h3>Galleries</h3>
                <p class="mb-2">
                    Lightbox combined with gorgeous elements to produce a perfect user interface and experience.
                </p>
                <div class="list-group list-custom-large check-visited">
                    <a href="gallery-asymetric.html">
                        <i class="fa fa-th-large font-14 bg-red-dark color-white rounded-sm shadow-xl"></i>
                        <span>Asymetric</span>
                        <strong>Gorgeous Thumbnails</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>               
                    <a href="gallery-wide.html">
                        <i class="fa fa-star font-14 bg-brown-dark color-white rounded-sm shadow-xl"></i>
                        <span>Card Screen</span>
                        <strong>Amazing Wide Boxes</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <a href="gallery-wide.html">
                        <i class="fa fa-th-large font-14 bg-teal-dark color-white rounded-sm shadow-xl"></i>
                        <span>Collections</span>
                        <strong>Multiple Card  Styles</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <a href="gallery-thumbnails.html">
                        <i class="fa fa-square font-14 bg-blue-dark color-white rounded-sm shadow-xl"></i>
                        <span>Thumbnail</span>
                        <strong>Classic Views</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <a href="gallery-views.html">
                        <i class="fa fa-bars font-14 bg-yellow-dark color-white rounded-sm shadow-xl"></i>
                        <span>Views Switcher</span>
                        <strong>Change your View Style</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <a href="gallery-filter.html">
                        <i class="fa fa-link font-14 bg-magenta-dark color-white rounded-sm shadow-xl"></i>
                        <span>Filterable</span>
                        <strong>Filter with Links / Buttons</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="card card-style">
            <div class="content mb-0">
                <h3>Portfolios</h3>
                <p class="mb-2">
                    Tap a gorgeous card go to a separtate page to read more about your awesome proeject
                </p>
                <div class="list-group list-custom-large check-visited">
                    <a href="portfolio-one.html">
                        <i class="fa fa-th-large font-14 bg-red-dark color-white rounded-sm shadow-xl"></i>
                        <span>One Column</span>
                        <strong>Gorgeous Thumbnails</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>               
                    <a href="portfolio-two.html">
                        <i class="fa fa-star font-14 bg-brown-dark color-white rounded-sm shadow-xl"></i>
                        <span>Two Columns</span>
                        <strong>Amazing Wide Boxes</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                
            </div>
        </div>

                
        
        <div data-menu-load="menu-footer.html"></div>
    </div>
    <!-- Page content ends here-->
    
    <!-- Main Menu--> 
    <div id="menu-main" class="menu menu-box-left rounded-0" data-menu-load="menu-main.html" data-menu-width="280" data-menu-active="nav-media"></div>
    
    <!-- Share Menu-->
    <div id="menu-share" class="menu menu-box-bottom rounded-m" data-menu-load="menu-share.html" data-menu-height="370"></div>  
    
    <!-- Colors Menu-->
    <div id="menu-colors" class="menu menu-box-bottom rounded-m" data-menu-load="menu-colors.html" data-menu-height="480"></div> 
     
    
</div>

<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
</body>
