<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>AppKit Mobile</title>
<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
<link rel="stylesheet" type="text/css" href="styles/style.css">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="fonts/css/fontawesome-all.min.css">
<link rel="manifest" href="_manifest.json" data-pwa-version="set_in_manifest_and_pwa_js">
<link rel="apple-touch-icon" sizes="180x180" href="app/icons/icon-192x192.png">
</head>

<body class="theme-light">

<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>

<div id="page">

    <div class="header header-fixed header-logo-center header-auto-show">
        <a href="index.html" class="header-title">Welcome</a>
        <a href="#" data-back-button class="header-icon header-icon-1"><i class="fas fa-chevron-left"></i></a>
        <a href="#" data-menu="menu-main" class="header-icon header-icon-4"><i class="fas fa-bars"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-dark"><i class="fas fa-sun"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-light"><i class="fas fa-moon"></i></a>
    </div>

    <div id="footer-bar" class="footer-bar-6">
        <a href="index-components.html"><i class="fa fa-layer-group"></i><span>Features</span></a>
        <a href="index-pages.html" class="active-nav"><i class="fa fa-file"></i><span>Pages</span></a>
        <a href="index.html" class="circle-nav"><i class="fa fa-home"></i><span>Welcome</span></a>
        <a href="index-projects.html"><i class="fa fa-camera"></i><span>Projects</span></a>
        <a href="#" data-menu="menu-main"><i class="fa fa-bars"></i><span>Menu</span></a>
    </div>

	<div class="page-title page-title-fixed">
		<h1 class="font-20">Task List View</h1>
		<a href="#" class="page-title-icon shadow-xl bg-theme color-theme" data-menu="menu-share"><i class="fa fa-share-alt"></i></a>
		<a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-light" data-toggle-theme><i class="fa fa-moon"></i></a>
		<a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-dark" data-toggle-theme><i class="fa fa-lightbulb color-yellow-dark"></i></a>
		<a href="#" class="page-title-icon shadow-xl bg-theme color-theme" data-menu="menu-main"><i class="fa fa-bars"></i></a>
	</div>
	<div class="page-title-clear"></div>

    <div class="page-content">

		<div class="card card-style">
			<a href="#" class="content my-3">
				<div class="d-flex">
					<div>
						<img src="images/pictures/5s.jpg" width="35" class="rounded-sm me-2">
					</div>
					<div class="ps-1">
						<h6 class="font-600 font-12 opacity-50 mb-0">Appkit Mobile</h6>
						<h5 class="mb-1">Add Task Management Pack</h5>
					</div>
					<div class="ms-auto align-self-center text-center">
						<h6 class="font-500 font-12 opacity-50 mb-0">Tasks</h6>
						<h5 class="mb-1 color-green-dark">4/5</h5>
					</div>
				</div>
			</a>
			<div class="divider mb-0 mt-n2"></div>
			<a href="#" class="content my-3">
				<div class="d-flex">
					<div>
						<img src="images/pictures/6s.jpg" width="35" class="rounded-sm me-2">
					</div>
					<div class="ps-1">
						<h6 class="font-600 font-12 opacity-50 mb-0">Sticky Mobile</h6>
						<h5 class="mb-1">Create Social Media Pack</h5>
					</div>
					<div class="ms-auto align-self-center text-center">
						<h6 class="font-500 font-12 opacity-50 mb-0">Tasks</h6>
						<h5 class="mb-1 color-yellow-dark">1/5</h5>
					</div>
				</div>
			</a>
			<div class="divider mb-0 mt-n2"></div>
			<a href="#" class="content my-3">
				<div class="d-flex">
					<div>
						<img src="images/pictures/7s.jpg" width="35" class="rounded-sm me-2">
					</div>
					<div class="ps-1">
						<h6 class="font-600 font-12 opacity-50 mb-0">DuoDrawer Mobile</h6>
						<h5 class="mb-1">Redesign Fresh Components</h5>
					</div>
					<div class="ms-auto align-self-center text-center">
						<h6 class="font-500 font-12 opacity-50 mb-0">Tasks</h6>
						<h5 class="mb-1 color-red-dark">0/5</h5>
					</div>
				</div>
			</a>
			<div class="divider mb-0 mt-n2"></div>
			<a href="#" class="content my-3">
				<div class="d-flex">
					<div>
						<img src="images/pictures/8s.jpg" width="35" class="rounded-sm me-2">
					</div>
					<div class="ps-1">
						<h6 class="font-600 font-12 opacity-50 mb-0">DuoDrawer Mobile</h6>
						<h5 class="mb-1">Create Education Pages Pack</h5>
					</div>
					<div class="ms-auto align-self-center">
						<h5 class="color-green-dark font-18 pe-1"><i class="fa fa-check-circle"></i></h5>
					</div>
				</div>
			</a>
		</div>

		<div class="card card-style">
			<a href="#" class="content">
				<div class="d-flex">
					<div class="ps-1">
						<h6 class="font-600 font-12 opacity-50 mb-0">Appkit Mobile</h6>
						<h4 class="mb-1">Add Task Pack to Appkit</h4>
					</div>
					<div class="ms-auto align-self-center text-center pe-1">
						<h6 class="font-500 font-12 opacity-50 mb-0">Tasks</h6>
						<h5 class="mb-1 color-green-dark">4/5</h5>
					</div>
				</div>
				<div class="d-flex mt-n1">
					<div class="align-self-center">
						<span class="color-theme font-12 opacity-50 font-500 ps-1">Due in 3 Days</span>
					</div>
					<div class="ms-auto align-self-center">
						<span class="badge bg-red-dark font-10">HIGH</span>
					</div>
				</div>
			</a>
			<div class="divider mb-0 mt-n2"></div>
			<a href="#" class="content">
				<div class="d-flex">
					<div class="ps-1">
						<h6 class="font-600 font-12 opacity-50 mb-0">Sticky Mobile</h6>
						<h4 class="mb-1">Add New Images in Sticky</h4>
					</div>
					<div class="ms-auto align-self-center text-center pe-1">
						<h6 class="font-500 font-12 opacity-50 mb-0">Tasks</h6>
						<h5 class="mb-1 color-blue-dark">1/5</h5>
					</div>
				</div>
				<div class="d-flex mt-n1">
					<div class="align-self-center">
						<span class="color-theme font-12 opacity-50 font-500 ps-1">Due in 3 Days</span>
					</div>
					<div class="ms-auto align-self-center">
						<span class="badge bg-blue-dark font-10">NONE</span>
					</div>
				</div>
			</a>
			<div class="divider mb-0 mt-n2"></div>
			<a href="#" class="content">
				<div class="d-flex">
					<div class="ps-1">
						<h6 class="font-600 font-12 opacity-50 mb-0">DuoDrawer Mobile</h6>
						<h4 class="mb-1">Redesign UI for Duo</h4>
					</div>
					<div class="ms-auto align-self-center text-center pe-1">
						<h6 class="font-500 font-12 opacity-50 mb-0">Tasks</h6>
						<h5 class="mb-1 color-yellow-dark">1/3</h5>
					</div>
				</div>
				<div class="d-flex mt-n1">
					<div class="align-self-center">
						<span class="color-theme font-12 opacity-50 font-500 ps-1">Due in 3 Days</span>
					</div>
					<div class="ms-auto align-self-center">
						<span class="badge bg-yellow-dark font-10">LOW</span>
					</div>
				</div>
			</a>
			<div class="divider mb-0 mt-n2"></div>
		</div>

		<a href="#" class="card card-style pb-2">
			<div class="content mt-3">
				<span class="color-highlight font-700 font-12 d-block mb-n1">Large Style</span>
				<h3 class="mb-0">To do List</h3>
				<p>
					Large checkbox to do list, with any icon you wish.
				</p>
			</div>
			<div class="divider divider-margins mb-3"></div>
			<div class="content check-card my-2">
				<div class="d-flex">
					<div class="align-self-center ms-1">
						<div class="form-check icon-check">
							<input class="form-check-input" type="checkbox" value="" id="check1d">
							<i class="icon-check-1 fa fa-circle color-gray-dark font-18"></i>
							<i class="icon-check-2 fa fa-check-circle font-18 color-highlight"></i>
						</div>
					</div>
					<div class="align-self-center ms-4 ps-2">
						<h5 class="mb-0 line-height-s">Go to ThemeForest</h5>
					</div>
				</div>
			</div>
			<div class="content check-card my-2">
				<div class="d-flex">
					<div class="align-self-center ms-1">
						<div class="form-check icon-check">
							<input class="form-check-input" type="checkbox" value="" id="check1a">
							<i class="icon-check-1 fa fa-circle color-gray-dark font-18"></i>
							<i class="icon-check-2 fa fa-check-circle font-18 color-highlight"></i>
						</div>
					</div>
					<div class="align-self-center ms-4 ps-2">
						<h5 class="mb-0 line-height-s">Purchase AppKit PWA</h5>
					</div>
				</div>
			</div>
			<div class="content check-card my-2">
				<div class="d-flex">
					<div class="align-self-center ms-1">
						<div class="form-check icon-check">
							<input class="form-check-input" type="checkbox" value="" id="check1c">
							<i class="icon-check-1 fa fa-circle color-gray-dark font-18"></i>
							<i class="icon-check-2 fa fa-check-circle font-18 color-highlight"></i>
						</div>
					</div>
					<div class="align-self-center ms-4 ps-2">
						<h5 class="mb-0 line-height-s">Create Awesome Mobile Page</h5>
					</div>
				</div>
			</div>
		</a>

		<div class="card card-style mb-0">
			<div class="content mt-3">
				<span class="color-highlight font-700 font-12 d-block mb-n1">Small Style</span>
				<h3 class="mb-0">To do List</h3>
				<p>
					Small checkbox to do list, with any icon you wish.
				</p>
					<div class="form-check icon-check">
						<input class="form-check-input" type="checkbox" value="" id="check1" checked>
						<label class="form-check-label" for="check1">Todo List Item 1</label>
						<i class="icon-check-1 fa fa-square color-gray-dark font-16"></i>
						<i class="icon-check-2 fa fa-check-square font-16 color-highlight"></i>
					</div>
					<div class="form-check icon-check">
						<input class="form-check-input" type="checkbox" value="" id="check2">
						<label class="form-check-label" for="check2">Checkbox 2</label>
						<i class="icon-check-1 fa fa-circle color-gray-dark font-16"></i>
						<i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
					</div>
					<div class="form-check icon-check">
						<input class="form-check-input" type="checkbox" value="" id="check3" checked>
						<label class="form-check-label" for="check3">Checkbox 3</label>
						<i class="icon-check-1 far fa-square color-gray-dark font-16"></i>
						<i class="icon-check-2 far fa-check-square font-16 color-highlight"></i>
					</div>
					<div class="form-check icon-check">
						<input class="form-check-input" type="checkbox" value="" id="check4">
						<label class="form-check-label" for="check4">Checkbox 4</label>
						<i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
						<i class="icon-check-2 far fa-check-circle font-16 color-highlight"></i>
					</div>
					<div class="form-check icon-check">
						<input class="form-check-input" type="checkbox" value="" id="check5" checked>
						<label class="form-check-label" for="check5">Checkbox 5</label>
						<i class="icon-check-1 fa fa-thumbs-down color-gray-dark font-16"></i>
						<i class="icon-check-2 fa fa-thumbs-up font-16 color-highlight"></i>
					</div>
					<div class="form-check icon-check">
						<input class="form-check-input" type="checkbox" value="" id="check6">
						<label class="form-check-label" for="check6">Checkbox 6</label>
						<i class="icon-check-1 far fa-frown color-gray-dark font-16"></i>
						<i class="icon-check-2 far fa-smile font-16 color-highlight"></i>
					</div>
				</div>
			</div>


        <div class="" data-menu-load="menu-footer.html"></div>
    </div>
    <!-- Page content ends here-->

    <!-- Added to Bookmarks Menu-->
    <div id="menu-heart"
         class="menu menu-box-modal rounded-m"
         data-menu-hide="1000"
         data-menu-width="250"
         data-menu-height="170">

        <h1 class="text-center mt-3 pt-2">
            <i class="fa fa-heart color-red-dark fa-3x scale-icon"></i>
        </h1>
        <h3 class="text-center pt-2">Saved to Favorites</h3>
    </div>

    <!-- Main Menu-->
    <div id="menu-main" class="menu menu-box-left rounded-0" data-menu-load="menu-main.html" data-menu-width="280" data-menu-active="nav-pages"></div>

    <!-- Share Menu-->
    <div id="menu-share" class="menu menu-box-bottom rounded-m" data-menu-load="menu-share.html" data-menu-height="370"></div>

    <!-- Colors Menu-->
    <div id="menu-colors" class="menu menu-box-bottom rounded-m" data-menu-load="menu-colors.html" data-menu-height="480"></div>


</div>

<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
</body>
