<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>AppKit Mobile</title>
<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
<link rel="stylesheet" type="text/css" href="styles/style.css">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="fonts/css/fontawesome-all.min.css">    
<link rel="manifest" href="_manifest.json" data-pwa-version="set_in_manifest_and_pwa_js">
<link rel="apple-touch-icon" sizes="180x180" href="app/icons/icon-192x192.png">
</head>
    
<body class="theme-light">
    
<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>
    
<div id="page">
    
    <div class="header header-fixed header-logo-center">
        <a href="index.html" class="header-title">Your Order</a>
        <a href="#" data-back-button class="header-icon header-icon-1"><i class="fas fa-chevron-left"></i></a>
        <a href="#" data-menu="menu-main" class="header-icon header-icon-4"><i class="fas fa-bars"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-dark"><i class="fas fa-sun"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-light"><i class="fas fa-moon"></i></a>
    </div>

    <div id="footer-bar" class="footer-bar-6">
        <a href="index-components.html"><i class="fa fa-layer-group"></i><span>Features</span></a>
        <a href="index-pages.html" class="active-nav"><i class="fa fa-file"></i><span>Pages</span></a>
        <a href="index.html" class="circle-nav"><i class="fa fa-home"></i><span>Welcome</span></a>
        <a href="index-projects.html"><i class="fa fa-camera"></i><span>Projects</span></a>
        <a href="#" data-menu="menu-main"><i class="fa fa-bars"></i><span>Menu</span></a>
    </div>
    
    <div class="card card-fixed mt-4" style="background-image:url(images/food/regular/1.jpg)" data-card-height="350">
        <h1 class="font-15">
            <i class="fa fa-check-circle color-green-dark pe-2 ps-2"></i> You get Free Shipping
        </h1>
    </div>
    <div class="card card-clear" data-card-height="350"></div>
    
    <div class="page-content pb-3"> 
        
        <!-- card in this page format must have the class card-full to avoid seeing behind it-->
        <div class="card card-full rounded-l pb-4">
                     
            <div class="content mt-3">
                <div class="d-flex mb-3">
                    <div class="align-self-center">
                        <img src="images/pictures/4s.jpg" width="45" class="rounded-sm shadow-xl me-2">
                    </div>
                    <div class="align-self-center">
                        <h1 class="font-15 mb-0">Burger Rolyals & Bistro</h1>
                        <p class="mb-0 mt-n2 font-10 opacity-50"><i class="fa fa-map-marker pe-1"></i> Amsterdam, Foodlands Street, 1234</p>
                    </div>
                    <div class="ms-auto align-self-center">
                        <a href="#" class="icon icon-s rounded-sm shadow-xl font-600 gradient-green color-white"><i class="fa fa-phone"></i></a>
                    </div>
                </div>
                <div class="divider"></div>
                <a href="#" data-menu="order-1">
                    <div class="d-flex mb-4">
                        <div class="align-self-center">
                            <img src="images/food/small/1s.jpg" class="rounded-m me-3" width="90">
                        </div>
                        <div class="align-self-center">
                            <h2 class="font-15 line-height-s mt-1 mb-n1">Bacon and Ham Double Cheeseburger</h2>
                            <p class="mb-0 font-11 mt-2">
                                <i class="fa fa-heart color-red-dark pe-1"></i>3 Extras
                                <i class="fa fa-truck color-green-dark pe-1 ps-2"></i>25 Minutes
                            </p>
                            <span class="d-block pt-1 font-11">Edit Order Details</span>
                        </div>
                        <div class="ms-auto ps-3 align-self-center">
                            <h2 class="font-18">$25.30</h2>
                        </div>
                    </div>
                </a>
                <a href="#" data-menu="order-2">
                    <div class="d-flex mb-3">
                        <div class="align-self-center">
                            <img src="images/food/small/2s.jpg" class="rounded-m me-3" width="90">
                        </div>
                        <div class="align-self-center">
                            <h2 class="font-15 line-height-s mt-1 mb-n1">Classic Crust House Special Pizza</h2>
                            <p class="mb-0 font-11 mt-2">
                                <i class="fa fa-bullseye color-brown-dark pe-1"></i>Large
                                <i class="fa fa-truck color-green-dark pe-1 ps-2"></i>45 Minutes
                            </p>
                            <span class="d-block pt-1 font-11">Edit Order Details</span>
                        </div>
                        <div class="ms-auto ps-3 align-self-center">
                            <h2 class="font-18">$15.32</h2>
                        </div>
                    </div>
                </a>
                <a href="#" data-menu="order-3">
                    <div class="d-flex mb-3">
                        <div class="align-self-center">
                            <span class="badge bg-green-dark position-absolute bottom-0 font-12 rounded-0 py-1">5 pcs</span>
                            <img src="images/food/small/7s.jpg" class="rounded-m me-3" width="90">
                        </div>
                        <div class="align-self-center">
                            <h2 class="font-15 line-height-s mt-1 mb-n1">Fresh Starwberries</h2>
                            <p class="mb-0 font-11 mt-2">
                                <i class="fa fa-plus-circle color-green-dark pe-1"></i>3 Pieces
                                <i class="fa fa-truck color-green-dark pe-1 ps-2"></i>10 Minutes
                            </p>
                            <span class="d-block pt-1 font-11">Edit Order Details</span>
                        </div>
                        <div class="ms-auto ps-3 align-self-center">
                            <h2 class="font-18">$11.50</h2>
                        </div>
                    </div>
                </a>
                
                <div class="divider mt-4"></div>
                <h6 class="font-15 font-600 mb-n1"><i class="fa fa-check-circle color-green-dark icon-30"></i> Your order includes Free Delivery</h6>
                <div class="divider mt-4"></div>
                <div class="row mb-0">
                    <div class="col-6">
                        <h4>Total</h4>
                    </div>
                    <div class="col-6 text-end">
                        <h4>$52.12</h4>
                    </div>
                    <div class="col-12 pb-3"></div>
                    <div class="col-6">
                        <h4 class="opacity-50 font-13">Items</h4>
                    </div>
                    <div class="col-6 text-end">
                        <h4 class="font-13 opacity-50">$45.10</h4>
                    </div>
                    <div class="col-6">
                        <h4 class="opacity-50 font-13">Extras</h4>
                    </div>
                    <div class="col-6 text-end">
                        <h4 class="font-13 opacity-50">$15.02</h4>
                    </div>
                    <div class="col-6">
                        <h4 class="opacity-50 font-13">Shipping</h4>
                    </div>
                    <div class="col-6 text-end">
                        <h4 class="font-13 opacity-50">Free</h4>
                    </div>
                </div>
                
            </div>
        
            <a href="#" class="btn btn-full me-3 ms-3 btn-l font-13 font-600 rounded-s shadow-l mb-4 gradient-highlight">Place Order</a>

            <div class="divider divider-margins"></div>
            
            <div class="content mt-0">
                <p class="mb-n1 color-highlight font-600 mb-n1">Great choice to </p>
                <h2>Add to your Order</h2>
                <p>Products you may also like based on what you're currently looking at.
            </div>
            <div class="splide double-slider slider-no-dots" id="double-slider-1">
                <div class="splide__track">
                    <div class="splide__list">
                        <div class="splide__slide">
                            <div data-card-height="200" class="card mx-3 rounded-m shadow-l" style="background-image:url(images/food/small/2s.jpg)">
                                <div class="card-bottom text-center">
                                    <h2 class="color-white font-700 font-20 mb-3">Sauces</h2>
                                    <a href="#" class="btn btn-xs btn-full font-13 font-600 gradient-highlight rounded-s me-2 ms-2 mb-2">View</a>
                                </div>
                                <div class="card-overlay bg-gradient"></div>
                            </div>
                        </div>
                        <div class="splide__slide">
                            <div data-card-height="200" class="card mx-3 rounded-m shadow-l" style="background-image:url(images/food/small/3s.jpg)">
                                <div class="card-bottom text-center">
                                    <h2 class="color-white font-700 font-18 mb-3">Dessert</h2>
                                    <a href="#" class="btn btn-xs btn-full font-13 font-600 gradient-highlight rounded-s me-2 ms-2 mb-2">View</a>
                                </div>
                                <div class="card-overlay bg-gradient"></div>
                            </div>
                        </div>
                        <div class="splide__slide">
                            <div data-card-height="200" class="card mx-3 rounded-m shadow-l" style="background-image:url(images/food/small/4s.jpg)">
                                <div class="card-bottom text-center">
                                    <h2 class="color-white font-700 font-18 mb-3">Beverages</h2>
                                    <a href="#" class="btn btn-xs btn-full font-13 font-600 gradient-highlight rounded-s me-2 ms-2 mb-2">View</a>
                                </div>
                                <div class="card-overlay bg-gradient"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Page content ends here-->
        
    <div id="order-1" class="menu menu-box-bottom rounded-m" data-menu-height="530">
        <div class="menu-title">
            <p class="color-highlight">What would you like?</p>
            <h1 class="font-22">Edit your Order</h1>
            <a href="#" class="close-menu"><i class="fa fa-times-circle"></i></a>
        </div>
        <div class="divider mb-0"></div>
        <div class="content mt-3">
            <div class="d-flex mb-3">
                <div class="align-self-center">
                    <img src="images/food/small/1s.jpg" class="rounded-sm me-3" width="60">
                </div>
                <div class="align-self-center">
                    <h2 class="font-15 line-height-s mt-1 mb-n1">Bacon and Ham  <br>Double Cheeseburger</h2>
                    <p class="mb-0 font-11 mt-2">
                        <i class="fa fa-heart color-red-dark pe-1"></i>3 Extras
                        <i class="fa fa-truck color-green-dark pe-1 ps-2"></i>25 Minutes
                    </p>
                </div>
            </div>
            <h5>Extra Ingredients</h5>
            <div class="row">
                <div class="col-6">
                    <div class="form-check icon-check mb-0">
                        <input class="form-check-input" id="check-1" type="checkbox" checked>
                        <label class="form-check-label" for="check-1">Bacon</label>
                        <i class="icon-check-1 fa fa-square color-gray-dark font-16"></i>
                        <i class="icon-check-2 fa fa-check-square font-16 color-highlight"></i>
                    </div>
                    <div class="form-check icon-check mb-0">
                        <input class="form-check-input" id="check-2" type="checkbox">
                        <label class="form-check-label" for="check-2">Onions</label>
                        <i class="icon-check-1 fa fa-square color-gray-dark font-16"></i>
                        <i class="icon-check-2 fa fa-check-square font-16 color-highlight"></i>
                    </div>
                    <div class="form-check icon-check mb-0">
                        <input class="form-check-input" id="check-3" type="checkbox" checked>
                        <label class="form-check-label" for="check-3">Cheese</label>
                        <i class="icon-check-1 fa fa-square color-gray-dark font-16"></i>
                        <i class="icon-check-2 fa fa-check-square font-16 color-highlight"></i>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-check icon-check mb-0">
                        <input class="form-check-input" id="check-4" type="checkbox">
                        <label class="form-check-label" for="check-4">Mustard</label>
                        <i class="icon-check-1 fa fa-square color-gray-dark font-16"></i>
                        <i class="icon-check-2 fa fa-check-square font-16 color-highlight"></i>
                    </div>
                    <div class="form-check icon-check mb-0">
                        <input class="form-check-input" id="check-5" type="checkbox" checked>
                        <label class="form-check-label" for="check-5">Hot Sauce</label>
                        <i class="icon-check-1 fa fa-square color-gray-dark font-16"></i>
                        <i class="icon-check-2 fa fa-check-square font-16 color-highlight"></i>
                    </div>
                    <div class="form-check icon-check mb-0">
                        <input class="form-check-input" id="check-6" type="checkbox">
                        <label class="form-check-label" for="check-6">Mushrooms</label>
                        <i class="icon-check-1 fa fa-square color-gray-dark font-16"></i>
                        <i class="icon-check-2 fa fa-check-square font-16 color-highlight"></i>
                    </div>
                </div>
            </div>
            <div class="divider mb-2"></div>
            <div class="d-flex mb-3 pb-1">
                <div class="align-self-center">
                    <h5 class="mb-0">Quantity</h5>
                </div>
                <div class="ms-auto align-self-center">
                    <div class="stepper rounded-s small-switch me-n2">
                        <a href="#" class="stepper-sub"><i class="fa fa-minus color-theme opacity-40"></i></a>
                        <input type="number" min="1" max="99" value="1">
                        <a href="#" class="stepper-add"><i class="fa fa-plus color-theme opacity-40"></i></a>
                    </div>
                </div>
            </div>
            <div class="d-flex mb-3">
                <div class="align-self-center">
                    <h5 class="mb-0">Order Total</h5>
                </div>
                <div class="ms-auto align-self-center">
                    <h5 class="mb-0">$25.30</h5>
                </div>
            </div>
            <div class="divider"></div>
            <a href="#" class="btn btn-full btn-m gradient-blue font-700 rounded-sm close-menu">Apply Changes</a>
        </div>
    </div>

        
    <div id="order-2" class="menu menu-box-bottom rounded-m" data-menu-width="250" data-menu-height="530">
        <div class="menu-title">
            <p class="color-highlight">What would you like?</p>
            <h1 class="font-22">Edit your Order</h1>
            <a href="#" class="close-menu"><i class="fa fa-times-circle"></i></a>
        </div>
        <div class="divider mb-0"></div>
        <div class="content mt-3">
            <div class="d-flex mb-3">
                <div class="align-self-center">
                    <img src="images/food/small/2s.jpg" class="rounded-sm me-3" width="60">
                </div>
                <div class="align-self-center">
                    <h2 class="font-15 line-height-s mt-1 mb-n1">Classic Crust  <br>House Special Pizza</h2>
                    <p class="mb-0 font-11 mt-2">
                        <i class="fa fa-bullseye color-brown-dark pe-1"></i>Large
                        <i class="fa fa-truck color-green-dark pe-1 ps-2"></i>25 Minutes
                    </p>
                </div>
            </div>
            <h5>Extra Ingredients</h5>
            <div class="row">
                <div class="col-6">
                    <div class="form-check icon-check mb-0">
                        <input class="form-check-input" id="check-1b" type="checkbox" checked>
                        <label class="form-check-label" for="check-1b">Bacon</label>
                        <i class="icon-check-1 fa fa-square color-gray-dark font-16"></i>
                        <i class="icon-check-2 fa fa-check-square font-16 color-highlight"></i>
                    </div>
                    <div class="form-check icon-check mb-0">
                        <input class="form-check-input" id="check-2b" type="checkbox">
                        <label class="form-check-label" for="check-2b">Onions</label>
                        <i class="icon-check-1 fa fa-square color-gray-dark font-16"></i>
                        <i class="icon-check-2 fa fa-check-square font-16 color-highlight"></i>
                    </div>
                    <div class="form-check icon-check mb-0">
                        <input class="form-check-input" id="check-3b" type="checkbox" checked>
                        <label class="form-check-label" for="check-3b">Cheese</label>
                        <i class="icon-check-1 fa fa-square color-gray-dark font-16"></i>
                        <i class="icon-check-2 fa fa-check-square font-16 color-highlight"></i>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-check icon-check mb-0">
                        <input class="form-check-input" id="check-4b" type="checkbox">
                        <label class="form-check-label" for="check-4b">Mustard</label>
                        <i class="icon-check-1 fa fa-square color-gray-dark font-16"></i>
                        <i class="icon-check-2 fa fa-check-square font-16 color-highlight"></i>
                    </div>
                    <div class="form-check icon-check mb-0">
                        <input class="form-check-input" id="check-5b" type="checkbox" checked>
                        <label class="form-check-label" for="check-5b">Hot Sauce</label>
                        <i class="icon-check-1 fa fa-square color-gray-dark font-16"></i>
                        <i class="icon-check-2 fa fa-check-square font-16 color-highlight"></i>
                    </div>
                    <div class="form-check icon-check mb-0">
                        <input class="form-check-input" id="check-6b" type="checkbox">
                        <label class="form-check-label" for="check-6b">Mushrooms</label>
                        <i class="icon-check-1 fa fa-square color-gray-dark font-16"></i>
                        <i class="icon-check-2 fa fa-check-square font-16 color-highlight"></i>
                    </div>
                </div>
            </div>
            <div class="divider mb-2"></div>
            <div class="d-flex mb-3 pb-1">
                <div class="align-self-center">
                    <h5 class="mb-0">Quantity</h5>
                </div>
                <div class="ms-auto align-self-center">
                    <div class="stepper rounded-s small-switch me-n2">
                        <a href="#" class="stepper-sub"><i class="fa fa-minus color-theme opacity-40"></i></a>
                        <input type="number" min="1" max="99" value="1">
                        <a href="#" class="stepper-add"><i class="fa fa-plus color-theme opacity-40"></i></a>
                    </div>
                </div>
            </div>
            <div class="d-flex mb-3">
                <div class="align-self-center">
                    <h5 class="mb-0">Order Total</h5>
                </div>
                <div class="ms-auto align-self-center">
                    <h5 class="mb-0">$15.32</h5>
                </div>
            </div>
            <div class="divider"></div>
            <a href="#" class="btn btn-full btn-m gradient-blue font-700 rounded-sm close-menu">Apply Changes</a>
        </div>
    </div>

    <div id="order-3" class="menu menu-box-bottom rounded-m" data-menu-width="250" data-menu-height="530">
        <div class="menu-title">
            <p class="color-highlight">What would you like?</p>
            <h1 class="font-22">Edit your Order</h1>
            <a href="#" class="close-menu"><i class="fa fa-times-circle"></i></a>
        </div>
        <div class="divider mb-0"></div>
        <div class="content mt-3">
            <div class="d-flex mb-3">
                <div class="align-self-center">
                    <img src="images/food/small/7s.jpg" class="rounded-sm me-3" width="60">
                </div>
                <div class="align-self-center">
                    <h2 class="font-15 line-height-s mt-1 mb-n1">Fresh Straweberries</h2>
                    <p class="mb-0 font-11 mt-2">
                        <i class="fa fa-bullseye color-brown-dark pe-1"></i>Large
                        <i class="fa fa-truck color-green-dark pe-1 ps-2"></i>25 Minutes
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h5>Dough</h5>
                    <div class="form-check icon-check mb-0">
                        <input class="form-check-input" id="check-1a" type="checkbox" checked>
                        <label class="form-check-label" for="check-1a">Puffy</label>
                        <i class="icon-check-1 fa fa-square color-gray-dark font-16"></i>
                        <i class="icon-check-2 fa fa-check-square font-16 color-highlight"></i>
                    </div>
                    <div class="form-check icon-check mb-0">
                        <input class="form-check-input" id="check-2a" type="checkbox">
                        <label class="form-check-label" for="check-2a">Crispy</label>
                        <i class="icon-check-1 fa fa-square color-gray-dark font-16"></i>
                        <i class="icon-check-2 fa fa-check-square font-16 color-highlight"></i>
                    </div>
                    <div class="form-check icon-check mb-0">
                        <input class="form-check-input" id="check-3a" type="checkbox">
                        <label class="form-check-label" for="check-3a">Chipsy</label>
                        <i class="icon-check-1 fa fa-square color-gray-dark font-16"></i>
                        <i class="icon-check-2 fa fa-check-square font-16 color-highlight"></i>
                    </div>
                </div>
                <div class="col-6">
                    <h5>Topping</h5>
                    <div class="form-check icon-check mb-0">
                        <input class="form-check-input" id="check-4a" type="checkbox">
                        <label class="form-check-label" for="check-4a">Cherry</label>
                        <i class="icon-check-1 fa fa-square color-gray-dark font-16"></i>
                        <i class="icon-check-2 fa fa-check-square font-16 color-highlight"></i>
                    </div>
                    <div class="form-check icon-check mb-0">
                        <input class="form-check-input" id="check-5a" type="checkbox" checked>
                        <label class="form-check-label" for="check-5a">Vanilla</label>
                        <i class="icon-check-1 fa fa-square color-gray-dark font-16"></i>
                        <i class="icon-check-2 fa fa-check-square font-16 color-highlight"></i>
                    </div>
                    <div class="form-check icon-check mb-0">
                        <input class="form-check-input" id="check-6a" type="checkbox">
                        <label class="form-check-label" for="check-6a">Chocolate</label>
                        <i class="icon-check-1 fa fa-square color-gray-dark font-16"></i>
                        <i class="icon-check-2 fa fa-check-square font-16 color-highlight"></i>
                    </div>
                </div>
            </div>
            <div class="divider mb-2"></div>
            <div class="d-flex mb-3 pb-1">
                <div class="align-self-center">
                    <h5 class="mb-0">Quantity</h5>
                </div>
                <div class="ms-auto align-self-center">
                    <div class="stepper rounded-s small-switch me-n2">
                        <a href="#" class="stepper-sub"><i class="fa fa-minus color-theme opacity-40"></i></a>
                        <input type="number" min="1" max="99" value="5">
                        <a href="#" class="stepper-add"><i class="fa fa-plus color-theme opacity-40"></i></a>
                    </div>
                </div>
            </div>
            <div class="d-flex mb-3">
                <div class="align-self-center">
                    <h5 class="mb-0">Order Total</h5>
                </div>
                <div class="ms-auto align-self-center">
                    <h5 class="mb-0">$11.50</h5>
                </div>
            </div>
            <div class="divider"></div>
            <a href="#" class="btn btn-full btn-m gradient-blue font-700 rounded-sm close-menu">Apply Changes</a>
        </div>
    </div>


    
    <!-- Main Menu--> 
    <div id="menu-main" class="menu menu-box-left rounded-0" data-menu-load="menu-main.html" data-menu-width="280" data-menu-active="nav-pages"></div>
    
    <!-- Share Menu-->
    <div id="menu-share" class="menu menu-box-bottom rounded-m" data-menu-load="menu-share.html" data-menu-height="370"></div>  
    
    <!-- Colors Menu-->
    <div id="menu-colors" class="menu menu-box-bottom rounded-m" data-menu-load="menu-colors.html" data-menu-height="480"></div> 
     
    
</div>

<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
</body>
