<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>AppKit Mobile</title>
<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
<link rel="stylesheet" type="text/css" href="styles/style.css">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="fonts/css/fontawesome-all.min.css">    
<link rel="manifest" href="_manifest.json" data-pwa-version="set_in_manifest_and_pwa_js">
<link rel="apple-touch-icon" sizes="180x180" href="app/icons/icon-192x192.png">
</head>
    
<body class="theme-light">
    
<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>
    
<div id="page">
    
    <div class="header header-fixed header-logo-center header-auto-show">
        <a href="index.html" class="header-title">Careers</a>
        <a href="#" data-back-button class="header-icon header-icon-1"><i class="fas fa-chevron-left"></i></a>
        <a href="#" data-menu="menu-main" class="header-icon header-icon-4"><i class="fas fa-bars"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-dark"><i class="fas fa-sun"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-light"><i class="fas fa-moon"></i></a>
    </div>

    <div id="footer-bar" class="footer-bar-6">
        <a href="index-components.html"><i class="fa fa-layer-group"></i><span>Features</span></a>
        <a href="index-pages.html" class="active-nav"><i class="fa fa-file"></i><span>Pages</span></a>
        <a href="index.html" class="circle-nav"><i class="fa fa-home"></i><span>Welcome</span></a>
        <a href="index-projects.html"><i class="fa fa-camera"></i><span>Projects</span></a>
        <a href="#" data-menu="menu-main"><i class="fa fa-bars"></i><span>Menu</span></a>
    </div>
    
    <div class="page-title page-title-fixed">
        <h1>Careers</h1>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme" data-menu="menu-share"><i class="fa fa-share-alt"></i></a>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-light" data-toggle-theme><i class="fa fa-moon"></i></a>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-dark" data-toggle-theme><i class="fa fa-lightbulb color-yellow-dark"></i></a>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme" data-menu="menu-main"><i class="fa fa-bars"></i></a>
    </div>
    <div class="page-title-clear"></div>
        
    <div class="page-content">
             
        <div class="card card-style">
            <div class="content">
                <p class="mb-0 font-600 color-highlight">Be a Part of Our Team</p>
                <h1>Apply Today</h1>
                <p>
                    Join our team and create awesome products to be seen by millions of people around the world!
                </p>       
            </div>
        </div>
        <div class="card card-style bg-10">
            <div class="card-body p-3">
                <p class="color-highlight font-500 mb-n1">Back-end Guru</p>
                <h1 class="color-white">WordPress Dev</h1>
                <ul class="color-white opacity-70 icon-list pt-4 pb-3">
                    <li><i class="fa fa-dollar-sign"></i>12000/year</li>
                    <li><i class="fa fa-map-marker"></i>California</li>
                    <li><i class="fa fa-clock"></i>Full Time</li>
                </ul>
                <p class="color-white mt-2">
                    If coding a WordPress Theme is easy to you, then we're interested in sitting down for a coffee! 
                </p>
                <a href="#" class="btn btn-s rounded-s font-600 bg-highlight">Apply Here</a>
            </div>
            <div class="card-overlay bg-black opacity-80"></div>
        </div>
        <div class="card card-style bg-13">
            <div class="card-body p-3">
                <p class="color-highlight font-500 mb-n1">Front End Master</p>
                <h1 class="color-white">App Developer</h1>
                <ul class="color-white opacity-70 icon-list pt-4 pb-3">
                    <li><i class="fa fa-dollar-sign"></i>22000/year</li>
                    <li><i class="fa fa-map-marker"></i>Washington</li>
                    <li><i class="fa fa-clock"></i>Part Time</li>
                </ul>
                <p class="color-white mt-2">
                    If you love apps more than we do, we need to talk. Let's link up and have a chat!
                </p>
                <a href="#" class="btn btn-s rounded-s font-600 bg-highlight">Apply Here</a>
            </div>
            <div class="card-overlay bg-black opacity-80"></div>
        </div>
        
        <div class="card card-style bg-2">
            <div class="card-body p-3">
                <p class="color-highlight font-500 mb-n1">Front End Master</p>
                <h1 class="color-white">Graphic Designer</h1>
                <ul class="color-white opacity-70 icon-list pt-4 pb-3">
                    <li><i class="fa fa-dollar-sign"></i>32000/year</li>
                    <li><i class="fa fa-map-marker"></i>Remote</li>
                    <li><i class="fa fa-clock"></i>Full Time</li>
                </ul>
                <p class="mt-2 color-white">
                    You can draw the Mona Lisa in Paint? We can't afford you, but we should sit down for an interview!
                </p>
                <a href="#" class="btn btn-s rounded-s font-600 bg-highlight">Apply Here</a>
            </div>
            <div class="card-overlay bg-black opacity-80"></div>
        </div>

        
        <div data-menu-load="menu-footer.html"></div>
    </div>
    <!-- Page content ends here-->
    
    <!-- Main Menu--> 
    <div id="menu-main" class="menu menu-box-left rounded-0" data-menu-load="menu-main.html" data-menu-width="280" data-menu-active="nav-pages"></div>
    
    <!-- Share Menu-->
    <div id="menu-share" class="menu menu-box-bottom rounded-m" data-menu-load="menu-share.html" data-menu-height="370"></div>  
    
    <!-- Colors Menu-->
    <div id="menu-colors" class="menu menu-box-bottom rounded-m" data-menu-load="menu-colors.html" data-menu-height="480"></div> 
     
    
</div>

<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
</body>
