<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>AppKit Mobile</title>
<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
<link rel="stylesheet" type="text/css" href="styles/style.css">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="fonts/css/fontawesome-all.min.css">    
<link rel="manifest" href="_manifest.json" data-pwa-version="set_in_manifest_and_pwa_js">
<link rel="apple-touch-icon" sizes="180x180" href="app/icons/icon-192x192.png">
</head>
    
<body class="theme-light">
    
<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>
    
<div id="page">
    
    <div class="header header-fixed header-logo-center header-auto-show">
        <a href="index.html" class="header-title">Quiz</a>
        <a href="#" data-back-button class="header-icon header-icon-1"><i class="fas fa-chevron-left"></i></a>
        <a href="#" data-menu="menu-main" class="header-icon header-icon-4"><i class="fas fa-bars"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-dark"><i class="fas fa-sun"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-light"><i class="fas fa-moon"></i></a>
    </div>

    <div id="footer-bar" class="footer-bar-6">
        <a href="index-components.html"><i class="fa fa-layer-group"></i><span>Features</span></a>
        <a href="index-pages.html" class="active-nav"><i class="fa fa-file"></i><span>Pages</span></a>
        <a href="index.html" class="circle-nav"><i class="fa fa-home"></i><span>Welcome</span></a>
        <a href="index-projects.html"><i class="fa fa-camera"></i><span>Projects</span></a>
        <a href="#" data-menu="menu-main"><i class="fa fa-bars"></i><span>Menu</span></a>
    </div>
    
    <div class="page-title page-title-fixed">
        <h1>Quiz</h1>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme" data-menu="menu-share"><i class="fa fa-share-alt"></i></a>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-light" data-toggle-theme><i class="fa fa-moon"></i></a>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-dark" data-toggle-theme><i class="fa fa-lightbulb color-yellow-dark"></i></a>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme" data-menu="menu-main"><i class="fa fa-bars"></i></a>
    </div>
    <div class="page-title-clear"></div>
        
    <div class="page-content">
        
        
        <div class="card card-style">
            <div class="content">
                <p class="mb-n1 color-highlight font-600">Full Screen</p>
                <h1>Modal Quiz</h1>
                <p>
                    Using our menus system you can create incredibly awesome quizes that will rock your your mobile
                    experience.
                </p>
                <a href="#" data-menu="quiz-1" class="btn btn-m btn-full gradient-highlight rounded-s font-600 font-13">Take the Quiz</a>
            </div>
        </div>

        <div data-menu-load="menu-footer.html"></div>
    </div>
    <!-- Page content ends here-->
    
    
    <!-- Quiz 1 -->
    <div id="quiz-1"
         class="menu menu-box-modal rounded-0"
         data-menu-width="cover"
         data-menu-height="cover">
        <a href="#" class="close-menu icon icon-xs rounded-xl bg-red-dark mt-3 float-end me-3"><i class="fa fa-times"></i></a>
        <div class="card-center">
            <div class="content">
                <h1 class="font-36">Mobile Quiz</h1>
                <p class="mt-n2 color-highlight font-600 font-12">A small quiz demo for Appkit  by Enabled</p>
                <p>
                    This quiz will have multiple style of designs for each slide. Simply click next to view all pages.<br><br>
                    <strong class="color-theme font-10 font-500">Please note this is a template and not connected to a database.</strong>
                </p>
                <a href="#" data-menu="quiz-2" class="btn btn-m font-600 gradient-blue">Click to Start</a>
            </div>
        </div>
    </div>
    
    <!-- Quiz 2 -->
    <div id="quiz-2"
         class="menu menu-box-modal rounded-0"
         data-menu-width="cover"
         data-menu-height="cover">
        <a href="#" class="close-menu icon icon-xs rounded-xl bg-red-dark mt-3 float-end me-3"><i class="fa fa-times"></i></a>
        <div class="card-center">
            <div class="content">
                <h1 class="font-24">How much of the Mobile Web Traffic do you think comes from Mobile devices?</h1>
                
                <div class="mt-4 pt-3"></div>
                
                <div class="form-check icon-check">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio1">
                    <label class="form-check-label" for="radio1">Under 50%</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio12">
                    <label class="form-check-label" for="radio12">Over 50%</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" value="" id="radio123">
                    <label class="form-check-label" for="radio123">I'm not sure.</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="mt-4 pt-3"></div>
                
                <a href="#" data-menu="quiz-3" class="btn btn-m font-600 gradient-blue">Next Question</a>
            </div>
        </div>
    </div>
    
    <!-- Quiz 3 -->
    <div id="quiz-3"
         class="menu menu-box-modal rounded-0"
         data-menu-width="cover"
         data-menu-height="cover">
        <a href="#" class="close-menu icon icon-xs rounded-xl bg-red-dark mt-3 float-end me-3"><i class="fa fa-times"></i></a>
        <div class="card-center">
            <div class="content">
                <h1 class="font-24">Thinking of you, which operating system defines you better?</h1>
                
                <div class="mt-4 pt-3"></div>
                
                <div class="form-check icon-check">
                    <input class="form-check-input" type="checkbox" value="" id="check3">
                    <label class="form-check-label" for="check3">Android</label>
                    <i class="icon-check-1 far fa-square color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-square font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check">
                    <input class="form-check-input" type="checkbox" value="" id="check31">
                    <label class="form-check-label" for="check31">iOS</label>
                    <i class="icon-check-1 far fa-square color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-square font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check">
                    <input class="form-check-input" type="checkbox" value="" id="check312">
                    <label class="form-check-label" for="check312">KaiOS</label>
                    <i class="icon-check-1 far fa-square color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-square font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check">
                    <input class="form-check-input" type="checkbox" value="" id="check31234">
                    <label class="form-check-label" for="check31234">Enabled OS</label>
                    <i class="icon-check-1 far fa-square color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-square font-16 color-highlight"></i>
                </div>
                
                <div class="mt-4 pt-3"></div>

                <a href="#" data-menu="quiz-4" class="btn btn-m font-600 gradient-blue">Next Question</a>
            </div>
        </div>
    </div>
    
    <!-- Quiz 4 -->
    <div id="quiz-4"
         class="menu menu-box-modal rounded-0"
         data-menu-width="cover"
         data-menu-height="cover">
        <a href="#" class="close-menu icon icon-xs rounded-xl bg-red-dark mt-3 float-end me-3"><i class="fa fa-times"></i></a>
        <div class="card-center">
            <div class="content text-center">
                
                <img src="images/pictures/19t.jpg" class="mx-auto rounded-m mb-4" width="250">
                
                <h1 class="font-22">Guess the Phone in the Image</h1>
                
                <div class="mt-4 pt-3"></div>
                
                <div class="form-check icon-check">
                    <input class="form-check-input" type="radio" name="radio-test" value="" id="check2">
                    <label class="form-check-label" for="check2">iPhone</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check">
                    <input class="form-check-input" type="radio" name="radio-test" value="" id="check21">
                    <label class="form-check-label" for="check21">Samsung</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check">
                    <input class="form-check-input" type="radio" name="radio-test" value="" id="check212">
                    <label class="form-check-label" for="check212">Huawei</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                <div class="form-check icon-check">
                    <input class="form-check-input" type="radio" name="radio-test" value="" id="check21234">
                    <label class="form-check-label" for="check21234">Lenovo</label>
                    <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
                    <i class="icon-check-2 fa fa-check-circle font-16 color-highlight"></i>
                </div>
                
                <div class="mt-4 pt-3"></div>

                <a href="#" class="close-menu btn btn-m font-600 gradient-blue">End Test</a>
            </div>
        </div>
    </div>
    
    <!-- Main Menu--> 
    <div id="menu-main" class="menu menu-box-left rounded-0" data-menu-load="menu-main.html" data-menu-width="280" data-menu-active="nav-pages"></div>
    
    <!-- Share Menu-->
    <div id="menu-share" class="menu menu-box-bottom rounded-m" data-menu-load="menu-share.html" data-menu-height="370"></div>  
    
    <!-- Colors Menu-->
    <div id="menu-colors" class="menu menu-box-bottom rounded-m" data-menu-load="menu-colors.html" data-menu-height="480"></div> 
     
    
</div>

<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
</body>
