<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>AppKit Mobile</title>
<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
<link rel="stylesheet" type="text/css" href="styles/style.css">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="fonts/css/fontawesome-all.min.css">    
<link rel="manifest" href="_manifest.json" data-pwa-version="set_in_manifest_and_pwa_js">
<link rel="apple-touch-icon" sizes="180x180" href="app/icons/icon-192x192.png">
</head>
    
<body class="theme-light">
    
<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>
    
<div id="page">
    
    <div class="header header-fixed header-logo-center header-auto-show">
        <a href="index.html" class="header-title">About Us</a>
        <a href="#" data-back-button class="header-icon header-icon-1"><i class="fas fa-chevron-left"></i></a>
        <a href="#" data-menu="menu-main" class="header-icon header-icon-4"><i class="fas fa-bars"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-dark"><i class="fas fa-sun"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-light"><i class="fas fa-moon"></i></a>
    </div>

    <div id="footer-bar" class="footer-bar-6">
        <a href="index-components.html"><i class="fa fa-layer-group"></i><span>Features</span></a>
        <a href="index-pages.html" class="active-nav"><i class="fa fa-file"></i><span>Pages</span></a>
        <a href="index.html" class="circle-nav"><i class="fa fa-home"></i><span>Welcome</span></a>
        <a href="index-projects.html"><i class="fa fa-camera"></i><span>Projects</span></a>
        <a href="#" data-menu="menu-main"><i class="fa fa-bars"></i><span>Menu</span></a>
    </div>
    
    <div class="page-title page-title-fixed">
        <h1>About Us</h1>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme" data-menu="menu-share"><i class="fa fa-share-alt"></i></a>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-light" data-toggle-theme><i class="fa fa-moon"></i></a>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-dark" data-toggle-theme><i class="fa fa-lightbulb color-yellow-dark"></i></a>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme" data-menu="menu-main"><i class="fa fa-bars"></i></a>
    </div>
    <div class="page-title-clear"></div>
        
    <div class="page-content">
        
        <div class="card card-style bg-1" data-card-height="400">
            <div class="card-top text-center">
                <h1 class="color-white text-center font-22 pt-3 mb-0">Greetings from</h1>
                <h1 class="color-white font-40">Enabled</h1>
            </div>
            <div class="card-bottom text-center">
                <p class="color-white font-15 opacity-70 px-4">
                    We're the only Elite Mobile Author on Envato Market, creating amazing Mobile Products ever since 2009 only for you!
                </p>
            </div>
            
            <div class="card-overlay bg-gradient"></div>
        </div>
        
        
        
        <div class="card card-style">
            <div class="content">
                <p class="mb-0 font-600 color-highlight">A very short biography</p>
                <h1>Who we are?</h1>
                <p>
                    Enabled is a business powered by 2 folks just like you who aim 
                    to create beautiful mobile interfaces and treat customers like we love to be treated.
                </p>        
            </div>
        </div>
        
        <div class="row mb-0">
            <div class="col-6 pe-0">
                <div class="card card-style">
                    <img src="images/pictures/16t.jpg" class="img-fluid">
                    <div class="p-2">
                        <p class="font-600 color-highlight mb-n2">Development</p>
                        <h4 class="pt-2">Mr. Enabled</h4>
                        <p class="mb-2">
                            Husband and front end developer at Enabled.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 ps-0">
                <div class="card card-style">
                    <img src="images/pictures/2t.jpg" class="img-fluid">
                    <div class="p-2">
                        <p class="font-600 color-highlight mb-n2">Marketing</p>
                        <h4 class="pt-2">Mrs. Enabled</h4>
                        <p class="mb-2">
                            Wife and Marketing Specialist at Enabled
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-style">
            <div class="content">
                <p class="mb-0 font-600 color-highlight">A very short bio</p>
                <h1>Our Values</h1>
                <p>
                    Enabled is a business powered by 2 folks just like you who aim 
                    to create beautiful mobile interfaces and treat customers like we love to be treated.
                </p>
                            
                <div class="d-flex mb-4">
                    <div class="align-self-center"><i class="fa fa-code color-highlight fa-4x icon-70 text-center"></i></div>
                    <div class="me-auto ps-4">
                        <h4>Quality Code</h4>
                        <p>
                            We create products we want to use for ourselves and that make us proud
                        </p>
                    </div>
                </div>
                            
                <div class="d-flex mb-4">
                    <div class="align-self-center"><i class="fa fa-life-ring color-orange-dark fa-4x icon-70 text-center"></i></div>
                    <div class="me-auto ps-4">
                        <h4>Hands on Support</h4>
                        <p>
                            We treat our customers like we like to be treated. We're always here for you!
                        </p>
                    </div>
                </div>
            
                <div class="d-flex">
                    <div class="align-self-center"><i class="fa fa-trophy color-yellow-dark fa-4x icon-70 text-center"></i></div>
                    <div class="me-auto ps-4">
                        <h4>Elite Care</h4>
                        <p>
                            We became elite because we cared about our customers and products
                        </p>
                    </div>
                </div>
            
            </div>
        </div>
        
        
        <div class="card card-style">
            <div class="content">
                <p class="mb-0 font-600 color-highlight">Let's connect</p>
                <h1>We're very Social</h1>
                <p>
                    We're very social and always love to keep in touch with our customers. Along our 11 year journey we've made
                    tones of awesome friends.
                </p>        
            </div>
        </div>
        
        <div class="row px-3">
            <div class="col-6 p-0">
                <a href="#" class="card card-style me-1 mb-2 bg-facebook p-3">
                    <i class="fab fa-facebook fa-3x color-white text-center"></i>
                    <p class="font-11 text-center pt-2 mb-0 color-white">enabled.labs</p>
                </a>
            </div>
            <div class="col-6 p-0">
                <a href="#" class="card card-style ms-1 mb-2 bg-twitter p-3">
                    <i class="fab fa-twitter fa-3x color-white text-center"></i>
                    <p class="font-11 text-center pt-2 mb-0 color-white">@iEnabled</p>
                </a>
            </div>
            <div class="col-6 p-0">
                <a href="#" class="card card-style me-1 mb-0 bg-instagram p-3">
                    <i class="fab fa-instagram fa-3x color-white text-center"></i>
                    <p class="font-11 text-center pt-2 mb-0 color-white">enabled.labs</p>
                </a>
            </div>
            <div class="col-6 p-0">
                <a href="#" class="card card-style ms-1 mb-0 bg-green-dark p-3">
                    <i class="fa fa-envelope fa-3x color-white text-center"></i>
                    <p class="font-11 text-center pt-2 mb-0 color-white">name@domain.com</p>
                </a>
            </div>
        </div>


        <div data-menu-load="menu-footer.html"></div>
    </div>
    <!-- Page content ends here-->
    
    <!-- Main Menu--> 
    <div id="menu-main" class="menu menu-box-left rounded-0" data-menu-load="menu-main.html" data-menu-width="280" data-menu-active="nav-pages"></div>
    
    <!-- Share Menu-->
    <div id="menu-share" class="menu menu-box-bottom rounded-m" data-menu-load="menu-share.html" data-menu-height="370"></div>  
    
    <!-- Colors Menu-->
    <div id="menu-colors" class="menu menu-box-bottom rounded-m" data-menu-load="menu-colors.html" data-menu-height="480"></div> 
     
    
</div>

<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
</body>
