<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>AppKit Mobile</title>
<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
<link rel="stylesheet" type="text/css" href="styles/style.css">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="fonts/css/fontawesome-all.min.css">
<link rel="manifest" href="_manifest.json" data-pwa-version="set_in_manifest_and_pwa_js">
<link rel="apple-touch-icon" sizes="180x180" href="app/icons/icon-192x192.png">
</head>

<body class="theme-light">

<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>

<div id="page">

    <div class="header header-fixed header-logo-center">
        <a href="index.html" class="header-title">Welcome</a>
        <a href="#" data-back-button class="header-icon header-icon-1"><i class="fas fa-chevron-left"></i></a>
        <a href="#" data-menu="menu-main" class="header-icon header-icon-4"><i class="fas fa-bars"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-dark"><i class="fas fa-sun"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-light"><i class="fas fa-moon"></i></a>
    </div>

    <div id="footer-bar" class="footer-bar-6">
        <a href="index-components.html"><i class="fa fa-layer-group"></i><span>Features</span></a>
        <a href="index-pages.html" class="active-nav"><i class="fa fa-file"></i><span>Pages</span></a>
        <a href="index.html" class="circle-nav"><i class="fa fa-home"></i><span>Welcome</span></a>
        <a href="index-projects.html"><i class="fa fa-camera"></i><span>Projects</span></a>
        <a href="#" data-menu="menu-main"><i class="fa fa-bars"></i><span>Menu</span></a>
    </div>


    <div class="card card-fixed mb-n5" data-card-height="450" style="background-image:url(images/health/10m.jpg)">
		<div class="card-top pt-3 pe-3">
			<a href="#" class="btn btn-s rounded-sm scale-box bg-theme color-theme font-700 text-uppercase float-end mt-5">Call Now</a>
		</div>
		<div class="card-bottom p-3 pb-0">
			<h1 class="color-white font-24 font-800">Your Health Matters</h1>
			<p class="color-white opacity-80 pb-3">
				You can always count on us to be there when you need it most. Call now and schedule an appointment.
			</p>
		</div>
		<div class="card-overlay bg-gradient"></div>
    </div>
    <div class="card card-clear" data-card-height="460"></div>


    <div class="page-content pb-3">

        <div class="card card-full rounded-m pb-4">
            <div class="drag-line"></div>

				<div class="content mb-0">
					<div class="d-flex">
						<div class="align-self-center">
							<h1 class="mb-0 font-18">Our Services</h1>
						</div>
						<div class="ms-auto align-self-center">
							<a href="#" class="float-end font-12 font-400">See All</a>
						</div>
					</div>
					<div class="row mb-0">
						<div class="col-6">
							<a href="#" class="card card-style mx-0 mb-2" style="background-image:url(images/health/1t.jpg);" data-card-height="170">
								<div class="card-bottom p-3">
									<h2 class="color-white mb-0">On Call</h2>
									<p class="color-white opacity-60 line-height-s font-12">
										Day and Night
									</p>
								</div>
								<div class="card-overlay bg-gradient opacity-80"></div>
							</a>
							<a href="#" class="card card-style mx-0 mb-0" style="background-image:url(images/health/11t.jpg);" data-card-height="170">
								<div class="card-bottom p-3">
									<h2 class="color-white mb-0">Lab Work</h2>
									<p class="color-white opacity-60 line-height-s font-12">
										Always spot on
									</p>
								</div>
								<div class="card-overlay bg-gradient opacity-80"></div>
							</a>
						</div>
						<div class="col-6 ps-1">
							<a href="#" class="card card-style mb-3 mx-0" style="background-image:url(images/health/3t.jpg);" data-card-height="350">
								<div class="card-bottom p-3">
									<h2 class="color-white">Consults</h2>
									<p class="color-white opacity-60 line-height-s">
										Don't let something bother you, let us have a look.
									</p>
								</div>
								<div class="card-overlay bg-gradient opacity-80"></div>
							</a>
						</div>
					</div>
				</div>

				<div class="divider mb-0"></div>

				<div class="content mb-n3">
					<p class="color-highlight font-600 mb-n1">A Complete Solution</p>
					<h1 class="font-20 mb-0">What do we offer?</h1>
					<p>
						Turn your website into an app with the awesome PWA function. Just add Appkit to your homescreen and enjoy! We'll handle the rest!
					</p>
					<div class="row">
						<div class="col-6">
							<ul class="icon-list">
								<li><i class="fa fa-check color-green-dark"></i> Mobile PWA</li>
								<li><i class="fa fa-check color-green-dark"></i> Bootstrap 5.x</li>
								<li><i class="fa fa-check color-green-dark"></i> Bootstrap 4.x</li>
							</ul>
						</div>
						<div class="col-6">
							<ul class="icon-list">
								<li><i class="fa fa-check color-green-dark"></i> Light & Dark</li>
								<li><i class="fa fa-check color-green-dark"></i> 1x Vanilla JS</li>
								<li><i class="fa fa-check color-green-dark"></i> 1x jQuery Version</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="divider mb-4"></div>

				<div class="card card-style mb-4" style="background-image:url(images/health/10m.jpg)" data-card-height="190">
					<div class="card-center">
						<div class="px-3">
							<h4 class="color-white font-22 mt-0">Schedule Appointment</h4>
							<p class="mb-4 color-white opacity-80">
								Send us a message or give us a call today. We'll book the photoshoot of your dreams.
							</p>
							<a href="tel:+1 234 567 8991" class="default-link btn btn-m rounded-sm border-0 text-uppercase font-700 btn-full gradient-highlight">Call Now</a>
						</div>
					</div>
					<div class="card-overlay bg-gradient"></div>
					<div class="card-overlay bg-black opacity-50"></div>
				</div>

				<div class="divider mb-0"></div>

				<div class="content mb-0">
					<p class="mb-n1 color-highlight font-600">Stay updated</p>
					<h1 class="font-800">Latest News</h1>
					<p>
						A list of of thumbnail articles, these are great for use short story articles.
					</p>

					<a href="#" class="d-flex">
						<div class="me-3 mb-3">
							<img src="images/health/3t.jpg" class="rounded-sm" width="65">
						</div>
						<div class="me-auto">
							<h5 class="font-600 font-14 line-height-s mb-0 pt-1">Research Thesis by Dr. John Doe published. in NY Times</h5>
							<span class="color-theme opacity-30 font-10">24 min ago, By John Doe</span>
						</div>
					</a>
					<a href="#" class="d-flex">
						<div class="me-3 mb-3">
							<img src="images/health/4t.jpg" class="rounded-sm" width="65">
						</div>
						<div class="me-auto">
							<h5 class="font-600 font-14 line-height-s mb-0 pt-1">Breakthrough treatment for procrastination is now approved</h5>
							<span class="color-theme opacity-30 font-10">24 min ago, By John Doe</span>
						</div>
					</a>
					<a href="#" class="d-flex">
						<div class="me-3 mb-4">
							<img src="images/health/7t.jpg" class="rounded-sm" width="65">
						</div>
						<div class="me-auto">
							<h5 class="font-600 font-14 line-height-s mb-0 pt-1">Researchers analyzing soil sample from Mars for signs of life</h5>
							<span class="color-theme opacity-30 font-10">24 min ago, By John Doe</span>
						</div>
					</a>
				</div>

            </div>
        </div>

    </div>
    <!-- Page content ends here-->

    <!-- Main Menu-->
    <div id="menu-main" class="menu menu-box-left rounded-0" data-menu-load="menu-main.html" data-menu-width="280" data-menu-active="nav-contact"></div>

    <!-- Share Menu-->
    <div id="menu-share" class="menu menu-box-bottom rounded-m" data-menu-load="menu-share.html" data-menu-height="370"></div>

    <!-- Colors Menu-->
    <div id="menu-colors" class="menu menu-box-bottom rounded-m" data-menu-load="menu-colors.html" data-menu-height="480"></div>


</div>

<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
</body>
