<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>AppKit Mobile</title>
<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
<link rel="stylesheet" type="text/css" href="styles/style.css">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="fonts/css/fontawesome-all.min.css">    
<link rel="manifest" href="_manifest.json" data-pwa-version="set_in_manifest_and_pwa_js">
<link rel="apple-touch-icon" sizes="180x180" href="app/icons/icon-192x192.png">
</head>
    
<body class="theme-light">
    
<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>
    
<div id="page">
    
    <div class="header header-fixed header-logo-center">
        <a href="index.html" class="header-title">Portfolio</a>
        <a href="#" data-back-button class="header-icon header-icon-1"><i class="fa fa-chevron-left"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-dark"><i class="fas fa-sun"></i></a>
        <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-light"><i class="fas fa-moon"></i></a>
        <a href="#" data-menu="menu-main" class="header-icon header-icon-4"><i class="fas fa-bars"></i></a>
    </div>

    <div id="footer-bar" class="footer-bar-6">
        <a href="index-components.html"><i class="fa fa-layer-group"></i><span>Features</span></a>
        <a href="index-pages.html"><i class="fa fa-file"></i><span>Pages</span></a>
        <a href="index.html" class="circle-nav"><i class="fa fa-home"></i><span>Welcome</span></a>
        <a href="index-projects.html" class="active-nav"><i class="fa fa-camera"></i><span>Projects</span></a>
        <a href="#" data-menu="menu-main"><i class="fa fa-bars"></i><span>Menu</span></a>
    </div>
        
    <div class="page-content header-clear-medium">
                    
        <div class="card card-style bg-1" data-card-height="250">
            <div class="card-bottom p-3">
                <p class="color-white font-600 mb-n1 opacity-50">Your Awesome</p>
                <h1 class="color-white font-30">Project One</h1>
            </div>
            <div class="card-bottom pb-3 mb-2 pe-3">
                <a href="#" class="opacity-60 icon icon-s bg-theme color-theme float-end rounded-xl ms-2"><i class="fa fa-arrow-right"></i></a>
                <a href="#" data-menu="menu-share" class="opacity-60 icon icon-s bg-theme color-theme float-end rounded-xl"><i class="fa fa-share-alt"></i></a>
            </div>
            <div class="card-top pt-3 pe-3 ps-3">
                <div class="row mb-0">
                    <div class="col-4 text-start">
                        <span class="color-white opacity-50"><i class="fa fa-calendar pe-2"></i> 15th Feb</span>
                    </div>
                    <div class="col-4 text-center">
                        <span class="color-white opacity-50"><i class="fa fa-tag pe-2"></i> Envato</span>
                    </div>
                    <div class="col-4 text-end">
                        <span class="color-white opacity-50"><i class="fa fa-user pe-2"></i> Enabled</span>
                    </div>
                </div>
            </div>
            <div class="card-overlay bg-gradient rounded-0"></div>
        </div>    
        
        <div class="card card-style">
            <div class="card bg-6" data-card-height="250">
                <div class="card-bottom pb-3 pe-3 ps-3">
                    <div class="row mb-0">
                        <div class="col-4 text-start">
                            <span class="color-white opacity-50"><i class="fa fa-calendar pe-2"></i> 15th Feb</span>
                        </div>
                        <div class="col-4 text-center">
                            <span class="color-white opacity-50"><i class="fa fa-tag pe-2"></i> Envato</span>
                        </div>
                        <div class="col-4 text-end">
                            <span class="color-white opacity-50"><i class="fa fa-user pe-2"></i> Enabled</span>
                        </div>
                    </div>
                </div>
                <div class="card-overlay bg-gradient rounded-0"></div>
            </div>    
            <div class="content mt-n2">
                <div class="float-start">
                    <p class="color-highlight font-600 mb-n1">Your Awesome</p>
                    <h1>Project Two</h1>
                </div>
                <div class="float-end mt-2">
                    <a href="#" class="icon icon-xs bg-theme color-theme shadow-xl rounded-xl" data-menu="menu-share"><i class="fa fa-share-alt color-red-dark"></i></a>
                    <a href="#" class="icon icon-xs bg-theme color-theme shadow-xl rounded-xl ms-2"><i class="fa fa-arrow-right color-highlight"></i></a>
                </div>
                <div class="clearfix"></div>
                <p>
                    Donec lacinia efficitur venenatis. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                    Quisque et urna turpis. Praesent ut varius nibh, ac vestibulum mi. 
                </p>
            </div>
        </div>
        <div class="card card-style">
            <div class="card bg-20" data-card-height="250">
                <div class="card-bottom pb-3 pe-3 ps-3">
                    <div class="row mb-0">
                        <div class="col-4 text-start">
                            <span class="color-white opacity-50"><i class="fa fa-calendar pe-2"></i> 15th Feb</span>
                        </div>
                        <div class="col-4 text-center">
                            <span class="color-white opacity-50"><i class="fa fa-tag pe-2"></i> Envato</span>
                        </div>
                        <div class="col-4 text-end">
                            <span class="color-white opacity-50"><i class="fa fa-user pe-2"></i> Enabled</span>
                        </div>
                    </div>
                </div>
                <div class="card-overlay bg-gradient rounded-0"></div>
            </div>    
            <div class="content mt-n2">
                <p class="color-highlight font-600 mb-n1">Your Awesome</p>
                <h1>Project Three</h1>
                <p>
                    Donec lacinia efficitur venenatis. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                    Quisque et urna turpis. Praesent ut varius nibh, ac vestibulum mi. 
                </p>
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <a href="#" class="btn btn-sm bg-highlight rounded-s btn-full me-4">Read More</a>
                    </div>
                    <div class="ms-auto">
                        <a href="#" class="shareToFacebook icon icon-xs rounded-s bg-facebook"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="shareToTwitter icon icon-xs rounded-s bg-twitter"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="shareToWhatsApp icon icon-xs rounded-s bg-whatsapp"><i class="fab fa-whatsapp"></i></a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card card-style">
            <div class="card bg-16" data-card-height="200">
                <div class="card-bottom pb-3 mb-2 pe-3">
                    <a href="#" class="opacity-60 icon icon-s bg-theme color-theme float-end rounded-xl ms-3"><i class="fa fa-arrow-right"></i></a>
                    <a href="#" data-menu="menu-share" class="opacity-60 icon icon-s bg-theme color-theme float-end rounded-xl"><i class="fa fa-share-alt"></i></a>
                </div>
                <div class="card-overlay bg-gradient rounded-0"></div>
            </div>    
            <div class="content mt-n2">
                <div class="d-flex">
                    <div class="ms-auto w-100">
                        <p class="color-highlight font-600 mb-n1">Your Awesome</p>
                        <h1>Project Four</h1>
                        <p>
                            Donec lacinia efficitur venenatis. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                        </p>
                    </div>
                    <div class="w-100 ms-auto pt-5 mt-3 ps-3">
                        <p class="mb-0"><i class="fa icon-30 opacity-50 color-blue-dark fa-calendar pe-3"></i>24th Dec</p>
                        <p class="mb-0"><i class="fa icon-30 opacity-50 color-red-dark fa-tag pe-3"></i>Envato</p>
                        <p class="mb-0"><i class="fa icon-30 opacity-50 color-green-dark fa-user pe-3"></i>Enabled</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div data-menu-load="menu-footer.html"></div>
    </div>
    <!-- Page content ends here-->
    
    <!-- Main Menu--> 
    <div id="menu-main" class="menu menu-box-left rounded-0" data-menu-load="menu-main.html" data-menu-width="280" data-menu-active="nav-media"></div>
    
    <!-- Share Menu-->
    <div id="menu-share" class="menu menu-box-bottom rounded-m" data-menu-load="menu-share.html" data-menu-height="370"></div>  
    
    <!-- Colors Menu-->
    <div id="menu-colors" class="menu menu-box-bottom rounded-m" data-menu-load="menu-colors.html" data-menu-height="480"></div> 
     
    
</div>

<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
</body>
